<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.las.mapper.ArrangeMapper">

    <!-- 通过教学周查当前周排课情况（可能不需要，先保留）-->
    <select id="findArrangeByweek" parameterType="java.lang.Integer" resultType="cn.las.bean.entity.Arrange">
        select * from arrange where week=#{week}
    </select>

    <!-- 增加排课 -->
    <insert id="insertone" parameterType="cn.las.bean.entity.Arrange">
        insert into arrange
        (laboratoryId,userId,courseId,week,section)
        values (#{laboratoryId},#{userId},#{courseId},#{week},#{section})
    </insert>

    <!-- 申报老师给管理员发送取消申请，管理员进行操作 -->

    <!-- 根据实验室id找到当前实验室排课情况 -->
    <select id="findArrangeByLaboratoryId" parameterType="java.lang.Integer" resultType="cn.las.bean.entity.Arrange">
        select * from arrange where laboratoryId=#{laboratoryId}
    </select>

    <!-- 根据课程id找到当前课程排课情况-->
    <select id="findArrangeByCourseId" parameterType="java.lang.Integer" resultType="cn.las.bean.entity.Arrange">
        select * from arrange where courseId=#{courseId}
    </select>

    <select id="findByUserId" parameterType="java.lang.Integer" resultType="cn.las.bean.entity.Arrange">
        select * from arrange where userId = #{userId}
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from arrange where courseId = #{courseId}
    </delete>

    <update id="updateArrangeById">

    </update>

    <select id="findAll" resultMap="arrangeDtoMap">
        select * from arrange group by tag
    </select>

    <!--  通过week和userid查询课表  -->
    <select id="findByArrange" resultMap="arrangeDtoMap">
        select * from arrange where 1=1
        <if test="laboratoryId != null">
            and laboratoryId = #{laboratoryId}
        </if>

        <if test="courseId != null">
            and courseId = #{courseId}
        </if>

        <if test="userId != null">
            and userId = #{userId}
        </if>

        <if test="week != null">
            and week = #{week}
        </if>

        <if test="day != null">
            and day = #{day}
        </if>

        <if test="section != null">
            and section = #{section}
        </if>

        <if test="number != null">
            and number = #{number}
        </if>

        <if test="classes != null">
            and classes = #{classes}
        </if>
        group by tag
    </select>

    <resultMap id="arrangeDtoMap" type="cn.las.bean.dto.ArrangeDTO">
        <result column="laboratoryId" property="laboratoryId"></result>
        <result column="userId" property="userId"></result>
        <result column="courseId" property="courseId"></result>
        <result column="day" property="day"></result>
        <result column="number" property="number"></result>
        <result column="status" property="status"></result>
        <result column="tag" property="tag"></result>
        <result column="period" property="period"></result>
        <result column="classes" property="classes"></result>
        <collection property="weeks" column="tag"
                    select="cn.las.mapper.ArrangeMapper.findWeeksByTag">
        </collection>
        <collection property="sections" column="tag"
                    select="cn.las.mapper.ArrangeMapper.findSectionsByTag">
        </collection>
        <collection property="laboratory" column="laboratoryId"
                    select="cn.las.dao.LaboratoryDao.findById">
        </collection>
        <collection property="course" column="courseId"
                    select="cn.las.dao.CourseDao.findCourseById">
        </collection>
        <collection property="user" column="userId"
                    select="cn.las.dao.UserDao.findUserInfoById"></collection>
    </resultMap>

    <!--  通过tag查询周数  -->
    <select id="findWeeksByTag" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select week from arrange where tag = #{tag}
    </select>

    <!--  通过tag查询课程  -->
    <select id="findSectionsByTag" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select `section` from arrange where tag = #{tag}
    </select>



</mapper>