<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.las.mapper.DeclareMapper">

    <insert id="insertDeclare" parameterType="cn.las.bean.entity.Declare">
        insert into `declare`(
            `type`, reason, userId, status, tag,
            changeweeks, changedays, changesectionenum, changeclassids
        )
        values(
            #{type}, #{reason}, #{userId}, #{status}, #{tag},
            #{changeweeks}, #{changedays}, #{changesectionenum}, #{changeclassids}
        )
    </insert>

    <delete id="removeById" parameterType="java.lang.Integer">
        delete from `declare` where id = #{id}
    </delete>

    <select id="findAll" resultType="cn.las.bean.entity.Declare">
        select * from `declare`
    </select>

    <select id="findByUserId" resultType="cn.las.bean.entity.Declare">
        select * from `declare` where userId = #{userId}
    </select>

    <update id="updateDeclareStatus" parameterType="java.lang.Integer">
        update `declare` set status=#{status} where id=#{id}
    </update>

    <select id="findById" parameterType="java.lang.Integer" resultType="cn.las.bean.entity.Declare">
        select * from `declare` where id=#{id}
    </select>
</mapper>